
@media (min-width: 901px) and (max-width: 1000px) {

}
@media (min-width: 780px) and (max-width: 810px) {
    /*.carousel-control-next-icon i {*/
    /*    right: 115%;*/
    /*    margin-top: 176% !important;*/
    /*}*/
    /*.carousel-control-prev-icon i {*/
    /*    margin-left: 470%;*/
    /*    margin-top: 176% !important;*/
    /*}*/
}
@media (min-width: 450px) and (max-width: 650px) {

}




/*Responsive site*/
@media (max-width: 576px) {

    .btn-1 {
        position: relative;
        width: 300px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #banner img {
        width: 100%;
        margin-top: 20px;
    }

    .banner-bottom p {
        writing-mode: horizontal-tb;
        transform: rotateZ(0deg);
        text-align: center;
    }

    .banner-bottom {
        flex-direction: column;
        margin: 0 auto;
    }

    .banner-bottom ul {
        padding: 0;
        display: flex;
        margin: 0 auto;
    }

    .banner-bottom ul li {
        margin: 0 5px;
    }

    #banner2 {
        padding: 30px 0;
    }

    .content-heading {
        margin-bottom: 30px !important;
    }

    .popular {
        padding-bottom: 40px;
    }
    .popular-item img {
        margin: 30% 0 0 50%;
        transform: translate(-50%, -50%);
    }
    .btn-overlay{
        margin: 30% 0 0 50%;
    }

    .popular-item-text {
        margin-top: 15px;
    }

    .text-section {
        margin-top: 40%;
        transform: translateY(-50%);
        margin-left: 20px;
    }

    .model {
        padding: 0px 0px 30px 0;
    }

    .model-pic::before {
        display: none;
    }

    .carousel-item {
        padding: 30px 0;
        background-color: #f8f8f8;
    }

    .post-text p {
        font-size: 15px;
        word-break: break-all;
    }

    .blog {
        padding: 30px 0 220px 0;
    }

    .blog-item-pic img {
        max-width: 90%;
        height: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .blog-item-pic::before {
        display: none;
    }

    .blog-item-pic::after {
        display: none;
    }

    /*.carousel-control-prev-icon i {*/
    /*    margin-left: -30%;*/
    /*    margin-top: 135%;*/
    /*    font-size: 15px;*/
    /*}*/

    /*.carousel-control-next-icon i {*/
    /*    right: 20%;*/
    /*    margin-top: 135%;*/
    /*    font-size: 15px;*/
    /*}*/

    #carouselExampleIndicators1 {
        margin-bottom: 30px;
    }

    .blog {
        padding: 30px 0 80px 0;
    }

    .blog-heading {
        margin-bottom: 30px;
    }

    .blog-item-text {
        margin-top: 30px;
        margin-left: 20px;
    }

    .carousel-indicators {
        margin-left: 40%;
        transform: translateX(-40%);
        margin-top: 10px !important;
    }


    .fot1,
    .fot2,
    .fot3,
    .fot4 {
        margin-bottom: 20px;

    }

    .fot2 ul,
    .fot3 ul {
        margin-bottom: 0;
        padding: 0;
    }

    .footer2 .container {
        flex-direction: column;
        text-align: center;
    }

    .left-side img {
        transform: translateY(-50%);
        display: none;
    }

    .right-side img {
        margin-right: 55px;
        display: none;
    }

}
@media (min-width: 576px) and (max-width: 767px){
    .btn-overlay {
        margin: 28% 0 0 50%;
        transform: translate(-50%, -50%);
    }
    .fot1,
    .fot2,
    .fot3,
    .fot4 {
        margin-bottom: 30px;
    }
    .popular-item img {
        margin: 30% 0 0 50%;
        transform: translate(-50%, -50%);
    }
    .btn-overlay{
        margin: 30% 0 0 50%;
    }
    .carousel-indicators {
        margin-left: 40%;
        transform: translateX(-40%);
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .banner-bottom {
        margin: -38% 5% 0;
    }

    #banner img {
        width: 500px;
        margin-top: 5%;
    }

    #banner2 {
        padding: 50px 0;
    }
    .popular {
        padding-bottom: 50px;
    }
    .model {
        padding: 0px 0px 50px 0;
    }
    .model-pic::before {
        width: 60%;
        height: 70%;
        top: 55%;
        left: 55%;
    }
    .carousel-item {
        padding: 50px 0;
    }
    .carousel-indicators{
        margin-bottom: 10%;
    }
    
    .blog{
        padding: 50px 0 158px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .banner-bottom {
        margin: -30% 5% 0;
    }
    .model-pic img{
        max-width: 90%;
    }
    .model-pic::before {
        top: 50%;
        left: 45%;

    }


}
@media (min-width: 1401px) and (max-width: 1600px){
    .banner-bottom {
        margin: -21% 5% 0;
    }
    .model-pic {
        margin-left: 20px;
    }
}@media (min-width: 1201px) and (max-width: 1400px){
    .banner-bottom {
        margin: -23% 5% 0;
    }
    .model-pic {
        margin-left: 20px;
    }
}

